:root {
  font-family: "Berkeley Mono", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;

  --text-primary-rgb: 51, 51, 51;
  --text-secondary-rgb: 102, 102, 102;
  --color-primary-rgb: 117, 75, 75;
  --color-accent-rgb: 68, 90, 90;

  --text-primary: rgb(var(--text-primary-rgb));
  --text-secondary: rgb(var(--text-secondary-rgb));
  --color-primary: rgb(var(--color-primary-rgb));
  --color-accent: rgb(var(--color-accent-rgb));
}
html,
body {
  margin: 0;
  padding: 1rem;
  background: #fff;
  width: 960px;
  color: var(--text-primary);
}

body {
  @page {
    size: A4;
    margin: 0;
  }
  @media print {
    html,
    body {
      width: 210mm;
      height: 297mm;
    }
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }
}

h2 {
  color: var(--color-primary);
}

h3,
h4,
h5,
h6 {
  color: var(--color-accent);
}

a {
  color: var(--color-accent);
  text-decoration: dotted underline;
}

.left-border {
  border-left: rgba(var(--text-secondary-rgb), 0.5) 2.5px solid;
  padding-left: 1rem;
}

header {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 6fr 5fr;

  .kv-pair {
    margin: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;

    border-right: rgba(var(--text-secondary-rgb), 0.5) 2.5px solid;

    > h4 {
      margin: 0;
    }
  }

  > hgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > h1,
    p {
      margin: 0;
    }

    > h1 {
      font-size: xxx-large;
      color: var(--color-primary);
    }

    > p {
      font-size: larger;
    }
  }
}

hgroup,
hgroup::before {
  > :nth-child(2) {
    color: var(--text-secondary);
    font-style: italic;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 2fr;

  h3 {
    margin-top: 0rem;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.kv-pair {
  display: block;

  > :nth-child(1) {
    font-weight: bold;
    margin-bottom: 0.15rem;
  }

  > :nth-child(2) {
    margin: 0;
  }
}

.headed-list {
  padding-left: 1rem;

  > h3,
  h4 {
    margin-bottom: 0rem;
    padding-left: 1rem;
    color: var(--text-secondary);
  }

  ul {
    padding-left: 1rem;
  }

  li {
    margin-bottom: 0.3rem;
    margin-left: 1rem;
    list-style-type: square;
    padding-left: 0.5rem;
  }

  li .first-word {
    /* font-weight: bold; */
  }
}
