:root {
  font-family: "Berkeley Mono", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;

  color: #333;
  --color-primary: #8b6060;
  --color-accent: #608b8b;
}
html,
body {
  margin: 0;
  padding: 1rem;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
  text-decoration: dotted underline;
}

header {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 2fr;

  > hgroup {
    margin-right: 1rem;
    border-right: var(--color-accent) 2px solid;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.kv-pair {
  display: block;

  > :nth-child(1) {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  > :nth-child(2) {
    margin: 0;
  }
}
