@use "../themes/duckquill/sass/mods/modern-hr";
@import "../themes/duckquill/sass/style.scss";

// main > p:first-of-type::first-letter {
//     font-size: 3.5em;
//     font-weight: bold;
//     float: left;
//     line-height: 1;
//     margin: 0 0.15em 0 0;
//     color: #2c3e50;
//     font-family: 'Georgia', serif;
//     padding-right: 0.05em;
//     text-shadow: 0 1px 1px rgba(0,0,0,0.08);
//     vertical-align: baseline;
//     position: relative;
//     top: 0.08em;
// }

.mermaid {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.full-bleed {
    margin-inline-start: calc((-90vw + 100%) / 2);
    margin-inline-end: calc((-90vw + 100%) / 2);
    width: 90vw;
    max-width: 90vw;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;

  html[data-theme="dark"] & {
    border-bottom: 1px dotted #cfcfcf;
  }
}

.tooltiptext {
  display: inline-block;
  visibility: hidden;
  font-size: medium;
  width: 400px;
  color: #564444;
  text-align: left;
  border-radius: 20px;
  padding: 1rem;
  position: fixed;
  margin-top: 2rem;
  z-index: 1;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  border: solid rgba(255, 255, 255, 0.8) 1px;
  box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.8),
    0 8px 32px rgba(0, 0, 0, 0.1);

  // Adapt for data-theme=dark on html
  html[data-theme="dark"] & {
    color: #cfcfcf;
    background: rgba(32, 32, 32, 0.8);
    border: solid rgba(32, 32, 32, 0.8) 1px;
    box-shadow: inset 0 0 60px rgba(32, 32, 32, 0.8),
      0 8px 32px rgba(0, 0, 0, 0.2);
  }
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext {
  visibility: visible;
  animation: 0.25s fade-in-right;
}

@keyframes fade-in-right {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.8),
    0 8px 32px rgba(0, 0, 0, 0.1);

  // Adapt for data-theme=dark on html
  html[data-theme="dark"] & {
    background: rgba(32, 32, 32, 0.8);
    box-shadow: inset 0 0 60px rgba(32, 32, 32, 0.8),
      0 8px 32px rgba(0, 0, 0, 0.2);
  }
}
